

.main-nav {
    width: 100%;
    position: relative;
    z-index: 2000;
    padding: 10px;
}

.icon-menu {
    display: block;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    /* cursor: pointer; */
    font-size: 2.5em;
    
}


.menu {
    position: absolute;
    /* top: 60px; */
    left: 0;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.5);
    padding: 0;
    margin: 0;
    text-align: center;
    height: 0; /* permire crear la animacion */
    overflow: hidden;
    transition:  height 0.3s linear;
    .menu__link {
        display: block;
        padding: 10px;
        color: $color1;
    }
    
}

.menu__link:hover {
    background: #de423a;
}

.menu__link--select {
    background: #de423a;
}

.mostrar {
    height: 125px;
}