

.contact {
    .group__title {
        color: blue;
    }
    .container {
        .contact-information {
            padding: 10px;
            padding-top: 0;
            margin-bottom: 30px;
            border-bottom: 2px solid #de423A;
            .column__title {
                color: red;
            }
        }
        
    }
}
.formulario {
    padding: 10px;
    padding-top: 0;
}
.formulario__label, .formulario__input-txt, .formulario__textarea {
    display: block;
    width: 100%;
}
