
$color1: rgb(255, 255, 255); 
$color2: rgb(19,73,73);     // color del logo final    
$color3: rgb(221,154,23);   // color del logo final
$color4: rgb(51,71,77);     // color del la pagina
$color5: rgb(193,188,40);   // color del la pagina


@import "_html";
@import "_header";
@import "_nav";
@import "_section";
@import "_footer";

